@model IEnumerable<test_reverse_engineer.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecuteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitiativeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingNavigation.ClosingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecuteNavigation.ExecuteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitiativeNavigation.InitiativeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanNavigation.PlanId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
