@model test_reverse_engineer.Models.Document

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocFormat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocStream)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocStream)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocCreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocCreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DocId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
