@model IEnumerable<test_reverse_engineer.Models.Closing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClosingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingLessonLearned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingLessonLearned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClosingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClosingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClosingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
