@model IEnumerable<test_reverse_engineer.Models.RoleHasPermission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RhpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RhpCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RhpModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RhpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permission.PermissionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RhpCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RhpModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.RhpId }) |
                @Html.ActionLink("Details", "Details", new { id=item.RhpId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RhpId })
            </td>
        </tr>
}
    </tbody>
</table>
