@model test_reverse_engineer.Models.Initiative

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Initiative</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitiativeTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitiativeTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreparedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreparedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectiveBenefit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectiveBenefit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandCompensation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandCompensation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandImprovement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandImprovement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Building)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Infrastructure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Infrastructure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantMachine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantMachine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseUnderDevelopment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseUnderDevelopment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingCapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkingCapital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contingency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contingency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timeline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timeline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcknowledgedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcknowledgedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgreedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgreedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExecutiveSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExecutiveSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectDefinition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectDefinition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objective)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objective)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitiativeLessonLearned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitiativeLessonLearned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InitiativeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
